[user]
    email = bses30074@gmail.com
    name = Yan-Hao-Wang
[core]
    editor = vim
    autocrlf = input
[color]
    ui = true
[diff]
    algorithm = histogram
    indentHeuristic = true
[branch]
    sort = -committerdate
[pull]
    rebase = true
[alias]
    st = status
    rst = restore
    ck = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
